@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Beth Ellen';
  src: url(/fonts/BethEllen-Regular.ttf?ffa906155b8b3ef85c3d01be72d4b612) format('truetype');
  font-weight: 400;
  font-style: normal;
}

.beth-ellen-regular {
  font-family: 'Beth Ellen', cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Lora', serif;
}

.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin-bottom: 90px;
}

.header.transparent {
  background-color: transparent;
  box-shadow: none;
}

.header.solid {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation and Logo Styling */
.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: color 0.3s;
}

.text-white .nav-link,
.text-white .nav-logo,
.text-white .nav-logo .logo-subtext,
.text-white .nav-user {
  color: white;
}

.text-black .nav-link,
.text-black .nav-logo,
.text-black .nav-logo .logo-subtext,
.text-black .nav-user {
  color: black;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #000;
}

.nav-logo {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-logo .logo-subtext {
  font-size: 12px;
  color: #333;
  margin-top: -5px;
  font-family: 'Proxima Nova', sans-serif;
}

/* Button and User Styling */
.nav-button {
  background-color: #ff4081;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #ff80ab;
}

.nav-user {
  padding: 5px 10px;
}

.img-container {
  overflow: hidden;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation for Fade-In Effect with Slower Duration and Staggered Timing */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0; /* Ensures elements are hidden before animating */
}

/* Custom form width */
.custom-form-width {
  max-width: 70%; /* Adjust this percentage to your desired width */
  width: 100%;
  margin-top: 1rem; /* Add some space above the form */
}

.btn-pink {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-pink:hover {
  background-color: #ff80ab;
}

/* Footer Styling */
footer {
  background-color: #fff; /* white background */
  color: #000; /* black text color */
  padding: 40px; /* Increased padding */
  margin: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other content */
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  font-size: 24px; /* Increased font size */
  margin-bottom: 15px; /* Increased margin */
  color: #ff4081;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 16px; /* Increased font size */
}

.footer-section form {
  display: flex;
  flex-direction: column;
}

.footer-section form input[type="email"] {
  margin-bottom: 15px; /* Increased margin */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Increased font size */
}

.footer-section form button[type="submit"] {
  background-color: #ff4081;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px; 
}

.footer-section form button[type="submit"]:hover {
  background-color: #ff80ab;
}

/* Additional Styles for Tables and Forms */
.appointment_table, .Service_table, .staff_table {
  margin: 20px auto;
  width: 60vw; 
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items:center;
}

.appointment_table th, .Service_table th, .staff_table th, 
.appointment_table td, .Service_table td, .staff_table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.appointment_table th, .Service_table th, .staff_table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
}

.appointment_table tr:nth-child(even), .Service_table tr:nth-child(even), 
.staff_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.appointment_table tr:hover, .Service_table tr:hover, .staff_table tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.calendar {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
}

#displayDate {
  margin-bottom: 10px;
}

.flex.items-center.justify-between {
  background-color: #ff4081;
}

.grid.grid-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-cols-7 > div {
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.grid-cols-7 > div:hover {
  background-color: #ff80ab;
  color: white;
}

.text-center {
  text-align: center;
}


.background-image {
  background-image: url('https://www.thelist.com/img/gallery/the-biggest-mistakes-everyone-makes-with-gel-nails/l-intro-1670359663.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; /* Ensuring it covers the full viewport height */
  width: 100vw;   /* Cover the full viewport width */
  position: absolute; /* Optional based on your layout needs */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1; /* Makes it a background layer if other content must be over it */
}