
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  

.buttonbg
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.5em;
    background-color: #ff4081;
  color: white;
  border-radius: 15px; 
  font-weight: bold;
  padding: 10px 25px; 
  text-transform: uppercase;
  transition: background-color 0.3s; 
}


.buttonbg:hover {
    background-color: transparent;
    border-color: white;
    border: 1px solid white;
 
}


.buttonbg2
{
    font-family: 'Proxima Nova', sans-serif;
    background-color: #ff4081;
  color: white;
  border-radius: 15px; 
  font-weight: bold;
  padding: 10px 25px; 
  text-transform: uppercase;
  transition: background-color 0.3s; 
}


.buttonbg2:hover {
    background-color: transparent;
    border-color: #ff4081;
    border: 1px solid #ff4081;
    color: black;
 
}

